.homeAbout{
    padding: 160px 100px;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    @media (min-width: 360px) and (max-width: 640px) {
        padding: 200px 32px;
        grid-template-columns: none;
        text-align: center;

    }
}
.homeAbout__container{
    grid-column: 2/3;
    display: grid;
    gap: 55px;
    color: white;
} 
.homeAbout__container--text{
    font-weight: 300;
    letter-spacing: -0.4px;
}
.homeAbout__container--button{
    display: flex;
    gap: 40px;
    & > .buttonStrong{
        width: 100%;
        gap: 100;
        justify-content: space-between;
    }
}
