.homeBlog{
    height: 100vh;
    padding: 0 130px;
    display: flex;
    align-items: center;
    background: rgb(215, 255, 171);
}
.homeBlog__container{

}
.homeBlog__title{

}
//* Card
.homeBlog__card{

}
.homeBlog__card--description{

}
.homeBlog__card--social{

}