.homeServices{
    height: 100vh;
    padding: 0 130px;
    background: blue;
}
.homeServices__container{

}
.homeServiices__title{
    
}   
//* Card
.homeServices__card{
    border-radius: .5px solid white;
}
.homeServices__card--animation{

}
.homeServices__card--text{

}
.homeServices__card--link{

}