.homeServices{
    padding: 100px 100px 100px 100px;
    display: flex;
    flex-direction: column;
    gap: 60px;
    cursor: none;
    & * {
        cursor: none;
    }
    @media (min-width: 360px) and (max-width: 640px) {
        padding: 70px 0 70px 32px;
    }
}
.homeServices__container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
    @media (min-width: 360px) and (max-width: 640px) {
        padding: 0 32px 0 0;
        overflow-x: scroll;
        scrollbar-width: none;
        scroll-snap-type: x mandatory;
    }
}
//* Card
.homeServices__card{
    padding: 0 20px;
    width: 310px;
    height: 570px;
    display: grid;
    grid-template-rows: repeat(7,1fr);
    place-items: center;
    color: white;
    position: relative;
    transition: ease .8s;
    @media (min-width: 360px) and (max-width: 640px) {
        width: 280px;
        height: 550px;
        scroll-snap-align: start;
        scroll-snap-stop: always;
        transition-delay: 0s;
    }
    &:hover .homeServices__card--img{
        scale: 1.01;
    }
    &::before{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: ease .6s;
        background: rgba(0,0,0,0.35);
    }
    &::after{
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        transition: ease .6s;
        background: rgba(0,0,0,0.15);
        z-index: -1;
    }
    &.homeServices__card--background::before{
        opacity: 1;
    }
    // hover Animation text
    &:hover .homeServices__animation{
        transform: translateY(0);
        opacity: 1;
    }
    &:hover .homeServices__card--numb{
        transition: .4s;
        background-position: 0%;
        background-image: linear-gradient(rgba(255,255,255,1) 30%, rgba(0,0,0,0) 100%);
        transition-delay: .3s;
    }
    &:hover .homeServices__card--img{
        transition: ease .8s;
    }
}
.homeServices__card:nth-child(1){
    transition-delay: .1s;
}
.homeServices__card:nth-child(2){
    transition-delay: .25s;
}
.homeServices__card:nth-child(3){
    transition-delay: .45s;
}
.homeServices__card:nth-child(4){
    transition-delay: .65s;
}

// Elements content
.homeServices__card--title{
    text-align: center;
    grid-area: 4/1/5/2;
}
.homeServices__card--text{
    grid-area: 5/1/6/2;
    @include bodylarge-regular;
    color: rgba(255,255,255,0.9);
    text-align: center;

}
.homeServices__card--line{
    grid-area: 6/1/7/2;
    width: 1px;
    height: 20px;
    background: white;
}
.homeServices__card--numb {
    position: absolute;
    bottom: -3rem;
    font-size: 100px;
    font-weight: 400;
    background-clip: text;
    background-image: linear-gradient(rgba(255,255,255,1) 0%, rgba(0,0,0,0) 100%);
    color: transparent;
    background-size: 100% 300%;
    background-position: 0% 100%;
    
}
.homeServices__animation{
    transition: ease-out .6s;
    transform: translateY(1rem);
    opacity: 0;
    @media (min-width: 360px) and (max-width: 640px) {
        opacity: 1;
        transform: translateY(0);
    }
}

// elements image
.homeServices__card--img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center; 
    position: absolute;
    top: 0;
    left: 0;
    transition: scale ease 1.2s;
    z-index: -2;
}
