.inforProject{
    padding: 130px 130px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
    transition: ease .4s;
    backdrop-filter: blur(10px);
    @media (min-width: 360px) and (max-width: 640px) {
        padding: 80px 16px 0 16px;
    }
    & p{
        @media (min-width: 360px) and (max-width: 640px) {
            @include bodylarge-regular;
        }
    }
    & *{
        color: black;
    }
}
.inforProject__title{
    margin-top: 30px;
}
.inforProject__container{
    padding: 50px 80px;
    background: #F5F7FA;
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.1);
    position: relative;
    transition: ease .4s;
    @media (min-width: 360px) and (max-width: 640px) {
        padding: 20px 20px;
    }
}
.inforProject__delete{
    margin: -30px -60px 0 0;
    position: sticky;
    top: 0px;
    width: min-content;
    height: fit-content;
    margin-left: auto;
    display: flex;
    padding: 7px;
    border-radius: 50%;
    background: $color-terceary;
    border: 1px solid #F5F7FA;
    cursor: pointer;
    @media (min-width: 360px) and (max-width: 640px) {
        margin: 0px 0 0 auto;
    }
    & .icon__stroke{
        fill: #F5F7FA;
    }
}
.inforProject__content{
    & > :nth-child(1){
        margin-top: 10px;
    }
    & > :nth-child(2){
        margin-top: 40px;
        aspect-ratio: 16/7;
        width: 100%;
        @media (min-width: 360px) and (max-width: 640px) {
            aspect-ratio: 4/3;
        }
    }
}   
.inforProject__content2{
    margin: 90px 0;
    display: grid;
    gap: 36px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 450px;
    @media (min-width: 360px) and (max-width: 640px) {
        margin: 40px 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 20px;
    }
    & *{
        color: $content-light-primary;
    }
    & > :nth-child(1){
        aspect-ratio: 4/3;
        width: 100%;
    }
    & > :nth-child(2){
        padding: 20px 0;
    }
}
.inforProject__content3{

}
.inforProject__group--image{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    @media (min-width: 360px) and (max-width: 640px) {
        flex-direction: column;
        gap: 16px;
    }
    & img{
        aspect-ratio: 3/4;
        height: 350px;
        @media (min-width: 360px) and (max-width: 640px) {
            width: 100%;
        }
    }
}
//* Style event
// Idea de colocar en animacion
.inforProject__event1{
    backdrop-filter: blur(0px);
}
.inforProject__event2{
    opacity: 0;
}