.sliderProjects{
    overflow: hidden;
    padding: 50px 0px 70px 130px ;
    z-index: 9999;
    @media (min-width: 360px) and (max-width: 640px) {
        padding: 80px 0px 80px 32px ;
    }
}
.sliderProjects__container{
    display: flex;
    flex-direction: column;
    // gap: 50px;
}
.sliderProjects__slider{
    width: 100%;
    padding: 0 130px 0 0;
    display: flex;
    gap: 50px;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
    transition: ease .3s;
    scrollbar-width: none;
}
.sliderProjects__card{
    scroll-snap-align: start;
    scroll-snap-stop:always;
    scrollbar-width: none;
    cursor: pointer;
}
.sliderProjects__image{
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    transition: scale .4s;
    z-index: -2;
}
//* Animaciones
.sliderProject__opacity{
    transition: ease .56s;
    transition-delay: .5s;
}