.homeOpinion{
    height: 100vh;
    padding: 0 130px;
    display: flex;
    align-items: center;
    background: rgb(215, 171, 171);
}
.homeOpinion__container{

}
.homeOpinion__title{

}
//* Card
.homeOpinion__card{

}
.homeOpinion__card--description{

}
.homeOpinion__card--social{

}