// @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

// $color-primary: #ff6109;
// $color-hover: #E45312;s

a{
    color: #bbbbbb;
}

$color-primary: #f5cb1f;
$color-hover: #e5b10d;
$background-color: #f9de4b; 
$background-dark-primary: #121212;
$background-dark-secondary: #1E1E1E;
$background-dark-third: #232323;
$content-light-primary: rgba(0, 0, 0, 1);
$content-light-secondary: rgba(0, 0, 0, .7);
$content-light-terceary: rgba(0, 0, 0, 0.5);
$content-dark-primary: rgba(255, 255, 255, 1);
$content-dark-secondary: #ffffffb3;
$content-dark-tercery: rgba(255, 255, 255, 0.5);
$color-secondary: #EFEFEF;
$color-terceary: #161616;
$color-fourth: #3d3d3d;

//* Headline( Titular )
@mixin upline($weight){
    font-size: 22px;
    font-weight: $weight;
    line-height: 33px; /* 150% */
    letter-spacing: 0.3px
}; 
@mixin headline-regular($weight){
    font-size: 20px;
    font-weight: $weight;
    line-height: 30px; /* 150% */
}; 
@mixin headline-medium{
    font-size: 20px;
    font-weight: 500;
    line-height: 30px; /* 150% */
}; 
//* Body Large
@mixin bodylarge-regular{
    font-size: 18px;
    font-weight: 400;
    line-height: 27px; /* 150% */
}; 
@mixin bodylarge-medium($width){
    font-size: 18px;
    font-weight: $width;
    line-height: 27px; /* 150% */   
}; 
//* Body
@mixin body-regular{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; /* 150% */
}; 
@mixin body-medium{
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}; 
//* Footnote
@mixin footnote-regular{
    font-size: 14px;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}; 
@mixin footnote-medium{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
};
*{   
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    overflow-x: hidden;
}
body{
    scroll-behavior: smooth;

}
h1,h2,h3,h4{
    text-wrap: balance;
}
p{
    text-wrap: pretty;
    font-size: 1rem;
    line-height: 1.5rem;
}
li,a{
    list-style: none;
    text-decoration: none;
}
img,video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;    
}

::-webkit-scrollbar {
    width: 4px;
    scrollbar-width: thin;
    // background-color: rgba(255, 255, 255, .7);
}
::-webkit-scrollbar-track {
    background-color: rgba(255, 255, 255, .3);
}
::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, .3);
}
//* animations of opacity
.solutionHome__animation--card{
    opacity: 0;
    transform: translateY(3rem);
    transition: ease .6s;
}
.card__animation--opacity{
    opacity: 0;
    transition: ease .6s;
}
.solutionsHome__animation{
    opacity: 1;
    transform: translateY(0%);
}
//* Animations and styles of banner

.banner__animation--image{
    transform: translateY(4rem);
    transition: ease .8s;
}
.banner__animation--content{
    transition: ease .5s;
    transition-delay: .45s;
}
.banner__animation{
    opacity: 0;
}
// Components{
@import './Components/BarNav/BarNav';
@import './Components/Footer/Footer';
@import './Components/Loader/Loader';
@import './Components/ButtonStrong/ButtonStrong';
@import './Components/AnimationScroll/TranslateScroll';
@import './Components/DescriptionSocial/DescriptionSocial';
@import './Components/SliderOpinion/SliderOpinion';
@import './Components/Team/Team';
@import './Components/Advance/Advance';
@import './Components/Charapters/Charapters';
@import './Components/SliderProject/SliderProject';
@import './Components/ButtonSlider/ButtonSlider';
@import './Components/SliderProject/InfoProject';
@import './Components/HomeSlider/HomeSlider';

// Page
// Home
@import './Pages/Home/HomeBanner/HomeBanner';
@import './Pages/Home/HomeAbout/HomeAbout';
@import './Pages/Home/HomeServices/HomeServices';
@import './Pages/Home/HomeProjects/HomeProjects';
@import './Pages/Home/HomeBlog/HomeBlog';
@import './Pages/Work/Work';
// About
@import './Pages/About/AboutBanner/AboutBanner';
@import './Pages/About/Purpose/Purpose';
@import './Pages/About/AboutHistory/AboutHistory';
@import './Pages/About/AboutEardth/AboutEardth';
// Solutions
@import './Pages/Solutions/SolutionsBanner/SolutionsBanner';
// Notice
@import './Pages/Blog/Blog';
// Blog
@import './Pages/Project/ProjectBanner/ProjectHome';
@import './Pages/Project/ProjectMap/ProjectMap';
