.homeTeam{
    height: 100vh;
    padding: 0 130px;
    display: flex;
    align-items: center;
    background: gray;
}
.homeTeam__container{

}
.homeTeam__title{
    
}
//* Card
.homeTeam__card{

}
.homeTeam__card--description{

}
.homeTeam__card--social{

}