.charapters{
    padding: 120px 100px;
    display: flex;
    @media (min-width: 360px) and (max-width: 640px) {
        padding: 120px 32px;
    }
}
.charapters__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 80px;
    @media (min-width: 360px) and (max-width: 640px) {
        gap: 50px;
    }
}

.process{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 70px;
    @media (min-width: 360px) and (max-width: 640px) {
        gap: 40px;
    }
}
.process__card{
    max-width: 324px;
    display: flex;
    flex-direction: column;
    gap: 8px;
    & > :nth-child(1){
        padding: 0 0 2px 0;
        border-bottom: 1px solid $yellow-primary;        
    }
    & > :nth-child(2){        
        padding: 8px 24px;
    }
}
.process__card-content{
    display: flex;
    gap: 10px;
    & > :nth-child(1){
        // @include upline(500);
        color: $yellow-primary;
    }
    & > :nth-child(2){
        @include headline-medium;
        color: $yellow-primary;
    }
}